@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

.footer {
  width: 100%;
  height: 85px;
  background-color: orange;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

h5 {
  font-family: "Rubik Distressed";
}
.footer-input {
  border-radius: 15px;
  padding: 10px 30px;
  color: gray;
  font-size: 18px;
  border: none;
}
.copyright {
  position: absolute;
  text-align: center;
  padding-top: 50px;
}

.footer-button {
  background-color: rgb(64, 134, 138);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  margin-left: 5px;
}
.footer-button:hover {
  cursor: pointer;
  border-width: 5px;
  color: #fff;
  transition: all 1s;
}

.social-icons {
  font-size: 25px;
  margin-left: 600px;
}

.latestNews {
  display: inline-block;
}

.icons {
  display: flex;
  justify-content: space-between;
}
